# Xcode
*.xcuserstate
*.xcworkspace
!default.xcworkspace
xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets and Configuration
pagosApp/Config/Secrets.xcconfig

# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# Playground
playground.xcworkspace

# Code coverage
*.gcda
*.gcno
pagosApp.xcodeproj/xcuserdata
